---
import Text from "../atoms/Text.astro";
const { className } = Astro.props;
---

<div class={`nav-links ${className}`}>
  <a href="/"><Text type="subTitle">Home</Text></a>
</div>

<style>
  .nav-links {
    text-transform: uppercase;
    gap: 34px;
  }
</style>
