---
import Button from "../../components/atoms/Button.astro";
import FeaturedProductCard from "../molecules/FeaturedProductCard.astro";
---

<div
  class="container flex flex-wrap justify-center xl:justify-between gap-8 featured-products-section"
>
  <FeaturedProductCard
    image="/assets/perfumes/chanel-no5.jpg"
    imageAlt="Chanel No. 5"
    title="PERFUMES DE MUJER"
  >
    <a href="https://fressia-perfumeria.kyte.site/es" target="_blank" rel="noopener"><Button>Ver Catálogo</Button></a>
  </FeaturedProductCard>

  <FeaturedProductCard 
    image="/assets/perfumes/black-opium.jpg" 
    imageAlt="Black Opium YSL" 
    title="PERFUMES DE HOMBRE"
  >
    <a href="https://fressia-perfumeria.kyte.site/es" target="_blank" rel="noopener"><Button>Ver Catálogo</Button></a>
  </FeaturedProductCard>

  <FeaturedProductCard
    width="160px"
    image="/assets/perfumes/arabic-perfume.jpg"
    imageAlt="Perfumes Árabes"
    title="PERFUMES ÁRABES"
  >
    <a href="https://fressia-perfumeria.kyte.site/es" target="_blank" rel="noopener"><Button>Ver Catálogo</Button></a>
  </FeaturedProductCard>
</div>

<style>
  .featured-products-section {
    margin-top: 60px;
    margin-bottom: 80px;
  }
</style>
