---
import NavLinks from "../molecules/NavLinks.astro";
---

<nav class="top-nav">
  <a href="/"><img src="/assets/shared/desktop/logo.svg" alt="logo" /></a>
</nav>

<NavLinks
  className="lg:hidden flex justify-center flex-wrap text-white pt-6 pb-6"
/>

<style>
  .top-nav {
    color: var(--white);
    padding: 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    z-index: 3;
  }

  .top-nav img {
    width: 150px !important;
    height: auto !important;
    max-width: none !important;
    object-fit: contain !important;
    transform: scale(1.2) !important;
  }

  .top-nav a {
    display: inline-block;
  }
</style>

